<%= form_for(@proyecto) do |f| %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :comitente %><br />
    <%= f.text_field :comitente %>
  </div>
  <div class="field">
    <%= f.label :constructor %><br />
    <%= f.text_field :constructor %>
  </div>
  <div class="field">
    <%= f.label :proyectista %><br />
    <%= f.text_field :proyectista %>
  </div>
  <div class="field">
    <%= f.label :fproyecto %><br />
    <%= f.date_select :fproyecto %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br />
    <%= f.text_field :ubicacion %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :expediente %><br />
    <%= f.text_field :expediente %>
  </div>
  <div class="field">
    <%= f.label "Vano Max (m)" %><br />
    <%= f.text_field :vmax %>
  </div>
  <div class="field">
    <%= f.label "Dist max entre retensiones (m)" %><br />
    <%= f.text_field :retmax %>
  </div>
  <div class="field">
    <%= f.label :conductor_e_id %><br />
    <%= f.select :conductor_e_id, options_from_collection_for_select(@conductores, 'id', 'nombre', @proyecto.conductor_e_id) %>
  </div>
  <div class="field">
    <%= f.label :conductor_g_id %><br />
    <%= f.select :conductor_g_id, options_from_collection_for_select(@conductores, 'id', 'nombre', @proyecto.conductor_g_id) %>
  </div>
  <div class="field">
    <%= f.label :tconstructivo_id %><br />
    <%= f.text_field :tconstructivo_id %>
  </div>
  <div class="field">
    <%= f.label :zona_id %><br />
    <%= f.select :zona_id, options_from_collection_for_select(@zonas, 'id', 'nombre', @proyecto.zona_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
