<p id="notice"><%= notice %></p>

<p>
  <b>Proyecto:</b>
  <%= @vano.proyecto_id %>
</p>

<p>
  <b>Vano:</b>
  <%= @vano.vano %>
</p>

<p>
  <b>Conductore:</b>
  <%= @vano.conductore_id %>
</p>

<p>
  <b>Conductorg:</b>
  <%= @vano.conductorg_id %>
</p>

<p>
  <b>Tiromax e:</b>
  <%= @vano.tiromax_e %>
</p>

<p>
  <b>Flechamax e:</b>
  <%= @vano.flechamax_e %>
</p>

<p>
  <b>Tma e:</b>
  <%= @vano.tma_e %>
</p>

<p>
  <b>Tiromax g:</b>
  <%= @vano.tiromax_g %>
</p>

<p>
  <b>Flechamax g:</b>
  <%= @vano.flechamax_g %>
</p>

<p>
  <b>Tma g:</b>
  <%= @vano.tma_g %>
</p>


<%= link_to 'Edit', edit_vano_path(@vano) %> |
<%= link_to 'Back', vanos_path %>
