<%= form_for(@tramo) do |f| %>
  <% if @tramo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tramo.errors.count, "error") %> prohibited this tramo from being saved:</h2>

      <ul>
      <% @tramo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :secuencia %><br />
    <%= f.text_field :secuencia %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :proyecto_id %><br />
    <%= f.text_field :proyecto_id %>
  </div>
  <div class="field">
    <%= f.label :ttramo_id %><br />
    <%= f.text_field :ttramo_id %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.text_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
