<h2>Lista de Piquetes por Tipo</h2>

<table>
  <tr>
    <th class="thdata">Proyecto</th>
    <th class="thdata">Secuencia</th>
    <th class="thdata">Tramo</th>
    <th class="thdata">Tipo Piquete</th>
    <th class="thdata">Cantidad</th>
    <th class="hdaction"></th>
    <th class="hdaction"></th>
    <th class="hdaction"></th>
  </tr>

<% @tramos.each do |tramo| %>
  <tr>
    <td class="trproy"><%= tramo.proyecto_id %></td>
    <td class="trsecuencia"><%= tramo.secuencia %></td>
    <td class="trnombre"><%= tramo.nombre %></td>
    <td class="trtipo"><%= tramo.ttramo.tipo %></td>
    <td class="trcantidad"><%= tramo.cantidad %></td>
    <td class="tdaction"><%= link_to 'Show', tramo %></td>
    <td class="tdaction"><%= link_to 'Edit', edit_tramo_path(tramo) %></td>
    <td class="tdaction"><%= link_to 'Destroy', tramo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tramo', new_tramo_path %>
