<p id="notice"><%= notice %></p>

<p>
  <b>Proyecto:</b>
  <%= @tramo.proyecto_id %>
</p>
<p>
  <b>Secuencia:</b>
  <%= @tramo.secuencia %>
</p>
<p>
  <b>Nombre:</b>
  <%= @tramo.nombre %>
</p>
<p>
  <b>Ttramo:</b>
  <%= @tramo.ttramo.tipo %>
</p>
<p>
  <b>Cantidad:</b>
  <%= @tramo.cantidad %>
</p>




<%= link_to 'Edit', :action=>'edit', :id=>@tramo.id, :proyecto_id=>@proyecto_id %> |
<%= link_to 'Back', :action=>'index', :proyecto_id=>@proyecto_id %>
