<p id="notice"><%= notice %></p>

<p>
  <b>Tramo:</b>
  <%= @reltramovano.tramo_id %>
</p>

<p>
  <b>Vano:</b>
  <%= @reltramovano.vano_id %>
</p>

<p>
  <b>Angulo:</b>
  <%= @reltramovano.angulo %>
</p>


<%= link_to 'Edit', edit_reltramovano_path(@reltramovano) %> |
<%= link_to 'Back', reltramovanos_path %>
