<h2>Puntos de la Traza</h2>

<div style="width:100%%">
<div style="float:left;">
	<table id="tbpuntos">
	  <tr>
	    <th class="thdata">Proyecto</th>
	    <th class="thdata">Nombre</th>
	    <th class="thdata">Secuencia</th>
	    <th class="thdata">Latitud</th>
	    <th class="thdata">Longitud</th>
	    <th class="thdata">Distancia</th>
	    <th class="thdata">&Aacute;ngulo</th>
	    <th class="hdaction"></th>
	    <th class="hdaction"></th>
	    <th class="hdaction"></th>
	  </tr>
	
	<% @puntos.each do |punto| %>
	  <tr>
	    <td class="puproy"><%= punto.proyecto_id %></td>
	    <td class="punombre"><%= punto.nombre %></td>
	    <td class="pusecuencia"><%= punto.secuencia %></td>
	    <td class="pulatlng"><%= number_with_precision(punto.latitud, :precision=>4) %></td>
	    <td class="pulatlng"><%= number_with_precision(punto.longitud, :precision=>4) %></td>
	    <td class="pulatlng"><%= number_with_precision(punto.distancia, :precision=>1) %></td>
	    <td class="pulatlng"><%= number_with_precision(punto.angulo, :precision=>1) %></td>
	    <td class="tdaction"><%= link_to 'Show', :action=>'show', :id=>punto.id, :proyecto_id=>@proyecto_id %></td>
	    <td class="tdaction"><%= link_to 'Edit', :action=>'edit', :id=>punto.id, :proyecto_id=>@proyecto_id %></td>
	    <td class="tdaction"><%= link_to 'Destroy', punto, :confirm => 'Are you sure?', :method => :delete, :proyecto_id=>@proyecto_id %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	|<%= link_to 'New Punto', new_punto_path %>|<br />

	|<%= link_to 'Lista Tramos', :controller=>'tramos',:action=>'index',:proyecto_id=>@proyecto_id %>| -
	|<%= link_to 'Calcula Tramos', :controller=>'tramos',:action=>'calctramos',:proyecto_id=>@proyecto_id %>|<br />
	|<%= link_to 'Datos del Proyecto '+@proyecto_id, proyecto_path(Proyecto.find(@proyecto_id))%>| -
	|<%= link_to 'Listado de Proyectos', proyectos_path %>|<br />
	</div>
	<div id="map_canvas" style="width:40%; height:500px;float:rigth;"></div>
</div>


   <script type="text/javascript">
	 var proyecto_id = <%=@proyecto_id %>;
     jQuery(document).ready(function(){
		var latlng = new google.maps.LatLng(-33.30, -66.33);
	    var myOptions = {
      		zoom: 12,
      		center: latlng,
      		mapTypeId: google.maps.MapTypeId.HYBRID
    	};
    	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		google.maps.event.addListener(map, 'click', function(event) {
			jQuery.ajax({
			   type: "POST",
			   url: "../puntos/indajax",
			   dataType: 'json',
			   data: "lat="+event.latLng.lat()+"&long="+event.latLng.lng()+"&proyecto_id="+proyecto_id,
			   success: function(puntos){ 
			     jQuery(location).attr('href','../puntos?proyecto_id='+proyecto_id);
			   }
			 });
  		});

		
		dibujatraza(<%=raw(@puntosarr) %>);

		function dibujatraza(puntos){
			var puntosarr = [];
			var mylatlng = new google.maps.LatLng(-33.30,-66.33);
			jQuery.each(puntos,function(index,value){
				mylatlng = new google.maps.LatLng(value.punto.latitud, value.punto.longitud);
				var marker = new google.maps.Marker({
				      position: mylatlng, 
				      map: map, 
				      title: value.punto.nombre
				});  	
				puntosarr.push(mylatlng);
			});
			map.setCenter(mylatlng);
			var traza = new google.maps.Polyline({
			    path: puntosarr,
			    strokeColor: "#0000FF",
			    strokeOpacity: 1.0,
			    strokeWeight: 2
			});
	  		traza.setMap(map);
		};
		
     });
   </script>
