<p id="notice"><%= notice %></p>

<p>
  <b>Proyecto:</b>
  <%= @punto.proyecto_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @punto.nombre %>
</p>

<p>
  <b>Secuencia:</b>
  <%= @punto.secuencia %>
</p>

<p>
  <b>Latitud:</b>
  <%= @punto.latitud %>
</p>

<p>
  <b>Longitud:</b>
  <%= @punto.longitud %>
</p>

<p>
  <b>Distancia:</b>
  <%= @punto.distancia %>
</p>

<p>
  <b>Angulo:</b>
  <%= @punto.angulo %>
</p>


<%= link_to 'Edit', :action=>'edit', :id=>@punto.id, :proyecto_id=>@proyecto_id %> |
<%= link_to 'Back', :action=>'index',:proyecto_id=>@proyecto_id %>
