<h1>Listing conductors</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Diametro</th>
    <th>Seccion</th>
    <th>Peso</th>
    <th>Rmec</th>
    <th>Coef e</th>
    <th>Coef t</th>
    <th>Imax</th>
    <th>Relec</th>
    <th>Tmax</th>
    <th>Tmed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conductors.each do |conductor| %>
  <tr>
    <td><%= conductor.nombre %></td>
    <td><%= conductor.diametro %></td>
    <td><%= conductor.seccion %></td>
    <td><%= conductor.peso %></td>
    <td><%= conductor.rmec %></td>
    <td><%= conductor.coef_e %></td>
    <td><%= conductor.coef_t %></td>
    <td><%= conductor.imax %></td>
    <td><%= conductor.relec %></td>
    <td><%= conductor.tmax %></td>
    <td><%= conductor.tmed %></td>
    <td><%= link_to 'Show', conductor %></td>
    <td><%= link_to 'Edit', edit_conductor_path(conductor) %></td>
    <td><%= link_to 'Destroy', conductor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conductor', new_conductor_path %>
