<p id="notice"><%= notice %></p>

<p>
  <b>Vano:</b>
  <%= @calcmecanico.vano_id %>
</p>

<p>
  <b>Condclima:</b>
  <%= @calcmecanico.condclima_id %>
</p>

<p>
  <b>Tension:</b>
  <%= @calcmecanico.tension %>
</p>

<p>
  <b>Tiro:</b>
  <%= @calcmecanico.tiro %>
</p>

<p>
  <b>Flecha t:</b>
  <%= @calcmecanico.flecha_t %>
</p>

<p>
  <b>Flecha v:</b>
  <%= @calcmecanico.flecha_v %>
</p>

<p>
  <b>Flecha h:</b>
  <%= @calcmecanico.flecha_h %>
</p>

<p>
  <b>Conductor:</b>
  <%= @calcmecanico.conductor_id %>
</p>

<p>
  <b>Temp:</b>
  <%= @calcmecanico.temp %>
</p>

<p>
  <b>Viento:</b>
  <%= @calcmecanico.viento %>
</p>

<p>
  <b>Hielo:</b>
  <%= @calcmecanico.hielo %>
</p>


<%= link_to 'Edit', edit_calcmecanico_path(@calcmecanico) %> |
<%= link_to 'Back', calcmecanicos_path %>
